# dependencies
node_modules
.pnpm-store

# builds
dist
src-tauri/target
src-tauri/gen

# python
agent/.venv
agent/.sidecar-build
agent/.sidecar-dist
agent/*.spec
agent/__pycache__
**/__pycache__
*.pyc

# tauri
src-tauri/binaries
src-tauri/target/*

# env / secrets
.env
.env.*
*.local
.dev.vars
.wrangler
client_secret_*.apps.googleusercontent.com.json

# os
.DS_Store
